/* In this file we are giving styles to our web page*/

h3{
    padding-bottom:50px;
}
h2{
    padding-top:50px;
    padding-bottom: 50px;
}
 .tab-pane{
    margin-top:50px;
    margin-left:50px;
    margin-right: 50px;
 }
.loginPage{
    margin-left:50px;
    margin-right: 50px;
}